:local(.container) {
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    color: #22242D;
    display: flex;
    box-sizing: border-box;
}
:local(.form) {
    background-color: #EEDFC3;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
    width: 30%;
}
:local(.header) {
    background-color: #7E9A87;
    width: 40%;
}
:local(.headerText) {
    margin-left: 5%;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    display: block;
}
:local(.buttonWrapper) {
    margin-top: 5px;
}
:local(.error) {
    color: #B33F34;
    text-align: center;
}
:local(.success) {
    color: #7E9A87;
    text-align: center;
}