:local(.button) {
    background-color: #B33F34;
    font-size: 1em;
    outline: none;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    border: none;
}
:local(.button:disabled) {
    background-color: #B3B3B3;
    cursor: not-allowed;
}