:local(.inputText) {
    background-color: #FCFCFC;
    border: none;
    box-sizing:  border-box;
    font-size: 1em;
    margin-top: 8px;
    outline: none;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    width: 100%;
}