:local(.container) {
    display: flex;
    background-color: #7E9A87;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    color: #22242D;
}

:local(.user) {
    margin-right: 5%;
}

:local(.histree) {
    margin-left: 5%;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    display: block;
}